
<h1>Add to the List</h1>

<form method="POST" action="/lists/add">
<div>
    <label>Drama Name</label>
    <input name="dramaName" type="text"/>
</div>

<div class="form-group">
    <label>episodeNum</label>
    <input name="episodeNum" type="number"/>
    </div>

    <div class="form-group">
    <label>progress</label>
    <input name="progress" type="number"/>
    </div>  



<br>
<div>
<button type="submit">Add</button>
</div>
</form>