<style>
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

</style>

<style>
    .signin {
        display: flex;
        justify-content: center;
        margin: 200px 0px 0px 20px;
    }
    .add-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      margin: 20px auto;
      transform: translate(-50%, -55%);
      background: rgba(0,0,0,.9);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.3);
      border-radius: 10px;
    }
    
    .add-box p:first-child {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
    
    .add-box .user-box {
      position: relative;
    }
    
    .add-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    
    .add-box .user-box label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    
    .add-box .user-box input:focus ~ label,
    .add-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #fff;
      font-size: 12px;
    }
    
    .add-box form a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      font-weight: bold;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 3px
    }
    
    .add-box a:hover {
      background: #fff;
      color: #272727;
      border-radius: 5px;
    }
    
    .add-box a span {
      position: absolute;
      display: block;
    }
    
    .add-box a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #fff);
      animation: btn-anim1 1.5s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
    
    .add-box a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #fff);
      animation: btn-anim2 1.5s linear infinite;
      animation-delay: .375s
    }
    
    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
    
      50%,100% {
        top: 100%;
      }
    }
    
    .add-box a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #fff);
      animation: btn-anim3 1.5s linear infinite;
      animation-delay: .75s
    }
    
    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
    
      50%,100% {
        right: 100%;
      }
    }
    
    .add-box a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #fff);
      animation: btn-anim4 1.5s linear infinite;
      animation-delay: 1.125s
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
    
      50%,100% {
        bottom: 100%;
      }
    }
    
    .add-box p:last-child {
      color: #aaa;
      font-size: 14px;
    }
    
    .add-box a.a2 {
      color: #fff;
      text-decoration: none;
    }
    
    .add-box a.a2:hover {
      background: transparent;
      color: #aaa;
      border-radius: 5px;
    }
    </style>





<div class="add-box">
    <p>Add a Drama to Your List!</p>
    <form class="row g-3" method="POST" action="/lists/add">
      <div class="user-box">
        <input required="" name="dramaName" type="text">
        <label>Drama Name</label>
      </div>
      <div class="user-box">
        <input required="" name="episodeNum" type="number">
        <label>Number of Episodes</label>
      </div>
      <div class="user-box">
        <input required="" name="progress" type="number">
        <label>Progress</label>
      </div>
<div class="user-box">
    <!-- <input required="" name="progress" type="number"> -->
    <label>Rating</label>

</div>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
</div>
      <a href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button type="submit" class="btn btn-primary" style="background-color: transparent; border: none; margin: -25px;">Add to List!</button>
        
      </a>

    </form>
  </div>
  