<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- shared Layout Page -->

    <nav>
        <a href="/">Home</a>
        <a href="/lists/show">Mylist</a>
        <a href="/lists/add">Add Drama</a>
        <a href="/auth/signup">signup</a>
        <a href="/auth/signin">signin</a>
        <a href="/auth/signout">signOut</a>
        <a href="/profiles/show">Profile</a>
    </nav>


    <%- body %>
    <br>
    <!-- <hr> -->
    <!-- Shared footer served from layout page -->

</body>
</html>